*.pyc
*.DS_Store
*.log

.venv/
.vscode/
.trae/
.agents/
.codex/
.pytest_cache/

docs/
scripts/
outputs/
static/
logs/
models/
data/
node_modules/
certificate/
DMIT-Rcbx3LcMXQ-ed25519/

__pycache__/

~$*.*

celerybeat*
